*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #8860d0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    transition: 0.3s;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
}

.nav-links{
    position: fixed;
    background-color: #8860d0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.1rem;
    right: -800px;
    height: 600px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;

}
.nav-links li{
    list-style:none;
    padding: 1rem;
    opacity: 0;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    transition: ease 0.4s;
}
.nav-links a:hover{
    color: rgba(0, 0, 0, 0.315);
}
.burger{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.6rem 1rem;
}
.burger div{
    background-color: black;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.5s ease;
}
.nav-active{
    right: 0;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
#container1{
    
   
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #c1c9e4;
    
}
#container1 h1{
    padding: 1rem;
    line-height: 45px;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #8860d0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.container1-img{
    width: 400px;
 
    height: 250px;
    
}
.intro-div{
    width: 10px;
}
#container2{
    width: 100%;
    height: 600px;
    background-color: #5680e9;
    position: relative;
}
.imgaine-container2{
    width: 300px;
}
.imagine-intro{
    display: flex;
    justify-content: center;
}
.sanatate{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    padding: 1.5rem;
    color: white;
}
.definitie-sanatate{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 1rem;
    letter-spacing: 2px;

}
.imgaine-container2{
    position: absolute;
    bottom: 0;
    right: 0;
}
#container3{
    width: 100%;
    height: 550px;
    background-color: #f76c6c;
}
.container3-h2{
    font-size: 2rem;
    padding: 1.5rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.container3-p{
    padding: 1rem;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#container4{
    width: 100%;
    background-color:#57ba98 ;
   
    position: relative;
}
.h2-container4{
    color: #ffffff;
    padding: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}
.container4-p{
    color: #ffffff;
    font-size: 18px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.container4-ul li{

    color: #ffffff;
    font-size: 16px;
    padding: 0.2rem 2rem;
    font-family: 'Roboto', sans-serif;


}
.container4-ul{
    list-style: square outside none;
}
.img-container4{
    display: flex;
    justify-content: center;
}
#container4 img{
    width: 200px;
    /* position: absolute; */
    bottom:9rem;
    margin-bottom: 3rem;
}
#container5{
    width: 100%;
    background-color: #f79e02;
    
}
.img-container5{
    display: flex;
    justify-content: center;
}
#container5 img{
    padding-top: 2rem;
    width: 300px;
}
.container5-h2{
    color: #ffffff;
    padding: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}
.container5-p{
    color: #ffffff;
    font-size: 18px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
#container6{
    width: 100%;
    background-color:#fef9c7 ;
}
#container6 img{
    width: 300px;
    padding: 2rem;
}
#container6 h2{
    color: #312e2e;

    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
}
#container6 p{
    color: #312e2e;
    font-size: 18px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.imagine-container6{
    display: flex;
    justify-content: center;
}
.container6-ol li{

    color: #312e2e;
    font-size: 16px;
    padding: 0.2rem 2rem;
    font-family: 'Roboto', sans-serif;
}
#container7{
    width: 100%;
    
    background-color:#f070a1 ;
}
#container7 img{
    width: 300px;
    margin-bottom: 3rem;
}

#container7 h1{
    color: #ffffff;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}
#container7 p{
    color: #ffffff;
    font-size: 18px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.lista-container7 li{
    color: #ffffff;
    font-size: 16px;
    padding: 0.2rem 2rem;
    font-family: 'Roboto', sans-serif;
}
.imagine-container7{
    display: flex;
    justify-content: center;
    position: relative;
}
.footer{
    width: 100%;
    background-color: black;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.footer p {
    padding: 0.3rem;
    font-size: 14px;
}
.contact a{
    color: white;
    font-size: 30px;
    padding: 0.3rem 0.5rem;
    transition: 0.3s;
}
.contact a:hover{
    color: rgb(128, 128, 128);
    transform: scale(0.2); 
}
@media screen and (min-width: 600px){
#container1 h1{
    font-size: 4rem;
    line-height: 75px;
}
    
}
@media screen and (min-width:1300px){
body{
    width: 100%;
    }
#container1{
    min-width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.intro-div{
display: flex;
width: 700px;
height: 700px;
align-items: center;
justify-content: center;
position: absolute;


    }
#container1 h1{
    font-size: 5rem;
    line-height: 95px;
    
}

.container1-img{
    min-width: 800px;
    height: 400px;
   position: absolute;
   right: 0%;
   top: 30%;
   
}
nav{
    position: static;
    position: relative;
}
.nav-links{
    right: 0;
    position: static;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1.5rem;
    right: 0;
    height: 0px;

}
.nav-links a{
    color: white;
}
.nav-links li{
    list-style:none;
    padding: 1rem;
    opacity: 1;
}
.burger{
    display: none;
}
}